{% block a2lix_translations_widget %}
    <div class="a2lix_translationsTabs">
        <ul class="a2lix_translationsTabsLocales">
        {% for translationsLocales in form %}
            {% for translationsFields in translationsLocales %}
                 <li>
                     <a href="#" data-translation-locale="{{ translationsFields.vars.name }}">
                        {{ translationsFields.vars.name|capitalize }}
                        {% if ('default' == translationsLocales.vars.name) %}
                             [Default]
                        {% endif %}
                     </a>
                 </li>
            {% endfor %}
        {% endfor %}
        </ul>

        <div class="a2lix_translationsTabsContents">
        {% for translationsLocales in form %}
            {% for translationsFields in translationsLocales %}
            <div class="a2lix_translationLocale-{{ translationsFields.vars.name }}">
                {{ form_widget(translationsFields) }}
            </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endblock %}

{# Personalization example :
{% block a2lix_translationsFields_widget %}
    {% for input in form %}
        {{ form_label(input) }}
        {{ form_widget(input) }}
    {% endfor %}
{% endblock %}
#}